language: python
sudo: required
dist: xenial
python:
- 3.7.1
services:
- docker
env:
- PROJECT=sql

script:
  - scripts/tests.sh
  - cd rapydo_tests
  # - docker-compose up --exit-code-from cypress
  - docker-compose up --exit-code-from frontend

  # - docker-compose up -d frontend
  # - sleep 120
  # - docker-compose logs --tail 20
  # - docker-compose logs --tail 1 frontend 2>&1 | grep "Compiled successfully."
  - docker-compose down

after_success:
  - ./node_modules/.bin/codecov
