<!DOCTYPE html>
<html lang="en" ng-app="web">
  <head>
    <title>My project</title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- /meta -->
    <base href='/'/>

    <link rel='stylesheet' href='static/modules/angular-hotkeys/build/hotkeys.min.css'/>
    <link rel='stylesheet' href='static/modules/bootstrap/dist/css/bootstrap.min.css'></script>
    <link rel='stylesheet' href='static/modules/bootstrap/dist/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='static/modules/noty/lib/noty.css'/>
    <link rel='stylesheet' href='static/modules/google-material-color/dist/palette.css'/>
    <!-- <link rel='stylesheet' href='static/modules/angular-chips/dist/main.css'/> -->
    <link rel='stylesheet' href='static/modules/angular-tablesort/tablesort.css'/>
    <link rel='stylesheet' href='static/commons/css/framework.css'/>
    <link rel='stylesheet' href='static/commons/css/material.icons.css'/>

</head>

<body ng-controller='MainController as main' ng-cloak>

<!-- SPLASH SCREEN -->
<div ng-if="main.splash" class="flex-container flex-hcentered flex-vcentered palette-Cyan-500 bg">
<div class='flex-element palette-White text'>
    <i class="material-icons xlarge">insert_chart</i>
    <br>
    <!-- <md-progress-linear md-mode="query" style="width: 4rem;"></md-progress-linear> --> 
    <span style='padding-left:8px;'>loading</span>
</div>
</div>

<!-- THE SIDEBAR FOR MENUs -->
<div ui-view='sidebar'></div>

<!-- MAIN CONTAINER. Note: passing the project name from Jinja template to Angular -->
<main ng-hide="main.splash" ng-init="myproject = 'test'">
    <!-- TOPBAR -->

    <div class="container-fluid" style='padding:0px;'>
        <div ng-hide="main.load" ng-include="main.blueprintTemplateDir + 'topbar.html'"></div>
        <!-- <div ng-hide="main.load" ng-include="main.templateDir + 'topbar.html'"></div> -->
    </div>


    <!-- WHILE WAITING (for API/RESOURCES) -->
    <div class="container-fluid">
        <div ng-if="main.load" ng-include="main.templateDir + 'loader.html'"></div>
    </div>

    <!-- WHEN READY -->
    <div class="container-fluid" ng-hide="main.load" style="height: calc(100% - 5rem);" ui-view='main'></div>
</main>

<!-- THE SIDEBAR FOR HISTORY -->
<div ui-view='hsidebar'></div>

<script type="text/javascript" src="static/modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="static/modules/angular/angular.min.js"></script>
<script type="text/javascript" src="static/modules/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="static/modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="static/modules/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="static/modules/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="static/modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="static/modules/satellizer/dist/satellizer.min.js"></script>
<script type="text/javascript" src="static/modules/noty/lib/noty.min.js"></script>
<script type="text/javascript" src="static/modules/moment/min/moment.min.js"></script>
<script type="text/javascript" src="static/modules/angular-hotkeys/build/hotkeys.min.js"></script>
<script type="text/javascript" src="static/modules/api-check/dist/api-check.min.js"></script>
<script type="text/javascript" src="static/modules/angular-formly/dist/formly.min.js"></script>
<script type="text/javascript" src="static/modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
<script type="text/javascript" src="static/modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script type="text/javascript" src="static/modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<!-- <script type="text/javascript" src="static/modules/angular-chips/dist/angular-chips.min.js"></script> -->
<script type="text/javascript" src="static/modules/angular-tablesort/js/angular-tablesort.js"></script>

<script type="text/javascript" src="static/commons/js/blueprint.js"></script>
<script type="text/javascript" src="static/custom/js/app.js"></script>

<script type="text/javascript" src="static/commons/js/common.jsonapi.parser.js"></script>
<script type="text/javascript" src="static/commons/js/common.data.service.js"></script>
<!-- <script type="text/javascript" src="static/commons/js/common.ngflow.controller.js"></script> -->
<script type="text/javascript" src="static/commons/js/common.sessions.js"></script>
<script type="text/javascript" src="static/commons/js/common.formly.service.js"></script>
<script type="text/javascript" src="static/commons/js/common.users.js"></script>
<!-- <script type="text/javascript" src="static/commons/js/common.queue.controller.js"></script> -->
<script type="text/javascript" src="static/commons/js/admin.users.controller.js"></script>
<script type="text/javascript" src="static/commons/js/common.globals.js"></script>
<script type="text/javascript" src="static/commons/js/common.noty.js"></script>
<script type="text/javascript" src="static/commons/js/common.filters.js"></script>
<script type="text/javascript" src="static/commons/js/common.config.js"></script>
<script type="text/javascript" src="static/commons/js/common.form_dialogs.js"></script>
<script type="text/javascript" src="static/commons/js/common.api.js"></script>
<script type="text/javascript" src="static/commons/js/common.routes.js"></script>
<script type="text/javascript" src="static/commons/js/common.auth.js"></script>
<script type="text/javascript" src="static/commons/js/main.controller.js"></script>

<script type="text/javascript" src="static/custom/js/routing.extra.js"></script>
<script type="text/javascript" src="static/custom/js/data.service.js"></script>

</body>
</html>
