<nav class="navbar navbar-expand-sm navbar-light sticky-top">
  <div class="container-fluid">
    <custombrand></custombrand>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <customlinks
        [user]="user"
        *ngIf="!loading"
        (onClick)="isMenuCollapsed = true"
      ></customlinks>

      <ul class="navbar-nav me-1">
        <li
          class="nav-item"
          *ngIf="user && user.isCoordinator"
          (click)="isMenuCollapsed = true"
        >
          <a
            class="nav-link text-nowrap"
            routerLink="/app/group/users"
            routerLinkActive="active"
          >
            Group
          </a>
        </li>
      </ul>

      <ul
        class="navbar-nav me-1"
        *ngIf="user && (user.isAdmin || user.isStaff)"
      >
        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link clickable text-nowrap"
            ngbDropdownToggle
            id="navbarDropdownAdminLink"
            role="button"
          >
            Admin
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdownAdminLink"
            class="dropdown-menu"
          >
            <ng-container *ngFor="let menu of admin_entries">
              <a
                *ngIf="menu.enabled"
                ngbDropdownItem
                routerLink="{{menu.router_link}}"
                routerLinkActive="active"
                (click)="isMenuCollapsed = true"
              >
                {{menu.label}}
              </a>
            </ng-container>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav ms-auto rpd-menu-controls" *ngIf="!loading">
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            routerLink="/app/profile"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
          >
            <i
              class="fas fa-user fa-lg"
              ngbTooltip="Profile of {{user.email}}"
              placement="left"
            ></i>
          </a>
        </li>

        <li class="nav-item" *ngIf="user">
          <a class="nav-link" href [routerLink]="">
            <i
              class="fas fa-right-from-bracket fa-lg clickable"
              (click)="do_logout()"
            ></i>
          </a>
        </li>

        <li
          class="nav-item"
          *ngIf="!user && api.is_online() && ssr.isBrowser && showLogin"
        >
          <a
            class="nav-link btn btn-sm btn-outline-secondary no-rounded text-nowrap"
            routerLink="/app/login"
            routerLinkActive="active"
          >
            Sign in
          </a>
        </li>

        <li
          class="nav-item ms-1"
          *ngIf="allowRegistration && !user && ssr.isBrowser"
        >
          <a
            class="nav-link btn btn-sm btn-outline-secondary no-rounded text-nowrap"
            routerLink="/public/register"
            routerLinkActive="active"
          >
            Sign up
          </a>
        </li>
      </ul>
    </div>
    <!-- container-fluid -->
  </div>
</nav>
