<nav class="navbar navbar-expand-sm navbar-light sticky-top">
  <custombrand></custombrand>

  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <!-- this class text-right allows the menu to show on the right when collapsed. It has no effect when the menu is expaded -->
    <customlinks
      [user]="user"
      *ngIf="!loading"
      class="text-right"
      (onClick)="isMenuCollapsed = true"
    ></customlinks>

    <ul class="navbar-nav text-right">
      <li
        class="nav-item"
        *ngIf="user && user.isCoordinator"
        (click)="isMenuCollapsed = true"
      >
        <a
          class="nav-link"
          routerLink="/app/group/users"
          routerLinkActive="active"
        >
          My Group
        </a>
      </li>
    </ul>

    <ul
      class="navbar-nav text-right"
      *ngIf="user && (user.isAdmin || user.isCoordinator)"
    >
      <li class="nav-item" ngbDropdown>
        <a
          class="nav-link clickable"
          ngbDropdownToggle
          id="navbarDropdownAdminLink"
          role="button"
        >
          Admin
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdownAdminLink"
          class="dropdown-menu"
        >
          <ng-container *ngFor="let menu of admin_entries">
            <a
              *ngIf="menu.enabled"
              ngbDropdownItem
              routerLink="{{menu.router_link}}"
              routerLinkActive="active"
              (click)="isMenuCollapsed = true"
            >
              {{menu.label}}
            </a>
          </ng-container>
        </div>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto navbar-right text-right" *ngIf="!loading">
      <li class="nav-item" *ngIf="user">
        <a
          class="nav-link"
          routerLink="/app/profile"
          routerLinkActive="active"
          (click)="isMenuCollapsed = true"
        >
          <i
            class="fas fa-user fa-lg"
            ngbTooltip="Profile of {{user.email}}"
            placement="left"
          ></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="user">
        <a class="nav-link" href [routerLink]="">
          <i class="fas fa-sign-out-alt fa-lg" (click)="do_logout()"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="!user && api.is_online() && isBrowser">
        <a
          class="nav-link btn btn-sm btn-outline-secondary no-rounded"
          routerLink="/app/login"
          routerLinkActive="active"
        >
          Sign in
        </a>
      </li>

      <li class="nav-item ml-1" *ngIf="allowRegistration && !user">
        <a
          class="nav-link btn btn-sm btn-outline-secondary no-rounded"
          routerLink="/public/register"
          routerLinkActive="active"
        >
          Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>
