
<div class='container-fluid'>
<div class="row justify-content-md-center">
<div class='col-12'>

<div class='card'>
<div class='card-header'>
	<h4 class='panel-title'>
		<i class='fa fa-users'></i> Users list
	</h4>
</div>

<div class='card-block'>

<loading *ngIf="loading"></loading>

<div class="table-responsive" *ngIf="!loading">

	<ngx-datatable
		[rows]="rows"
		[columns]="columns"
		[columnMode]="'force'"
		[loadingIndicator]='true'
		[footerHeight]="50"
		[limit]="itemsPerPage">
		<ngx-datatable-footer>
			<ng-template 
				ngx-datatable-footer-template
				let-pageSize="pageSize"
				let-selectedCount="selectedCount"
				let-curPage="curPage"
				let-offset="offset">
				<div class='col-3'>
					{{dataLength}} total
				</div>
				<div class='col-9'>
				<div class='float-right'>
				<ngb-pagination
					boundaryLinks="true"
					directionLinks="true"
					[page]="page"
					[pageSize]="itemsPerPage"
					[collectionSize]="dataLength"
					size="sm"
					(pageChange)="setPage($event)"
				>
				</ngb-pagination>
				</div>
				</div>
			</ng-template>
		</ngx-datatable-footer>
	</ngx-datatable>

</div>
	<ng-template #dataRoles let-row="row" let-value="value" let-i="index">

		<span
			class='badge badge-light' style='margin-right:3px;'
			*ngFor="let role of value | iterate"
			ngbTooltip="{{role['value']['description']}}">
			{{role['value']['name']}}
		</span>	

	</ng-template>

	<ng-template #dataGroup let-row="row" let-value="value" let-i="index">

		<span ngbTooltip='{{value[0].fullname}}'>
	        {{value[0].shortname}}
        </span>

	</ng-template>

</div>
</div>

</div>
</div>
</div>