<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="panel-title"><i class="fas fa-users"></i> Groups list</h4>
        </div>

        <div class="card-block">
          <ngx-spinner [fullScreen]="false"> </ngx-spinner>

          <div class="table-responsive">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <input
                    type="text"
                    style="padding: 8px; margin-bottom: 15px;"
                    class="form-control"
                    placeholder="Type to filter groups"
                    (keyup)="updateFilter($event)"
                  />
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-secondary" (click)="create()">
                    <i class="fas fa-plus"></i> new {{resource_name}}
                  </button>
                </div>
              </div>
            </div>

            <div class="table-wrapper" #tableWrapper>
              <ngx-datatable
                class="bootstrap"
                [rows]="data"
                [columns]="columns"
                [columnMode]="ColumnMode.flex"
                [headerHeight]="40"
                [footerHeight]="40"
                [limit]="paging.itemsPerPage"
                [rowHeight]="'auto'"
              >
              </ngx-datatable>
            </div>
          </div>
          <ng-template
            #dataCoordinator
            let-row="row"
            let-value="value"
            let-i="index"
          >
            <span ngbTooltip="{{value.name}} {{value.surname}}" *ngIf="value">
              {{value.email}}
            </span>
          </ng-template>

          <ng-template #emptyHeader let-column="column">
            &nbsp;
          </ng-template>

          <ng-template
            #controlsCell
            let-row="row"
            let-value="value"
            let-i="index"
          >
            <i class="fas fa-edit fa-large" (click)="update(row)"></i>
            <i
              class="fas fa-trash fa-large red"
              mwlConfirmationPopover
              [popoverTitle]="deleteConfirmation.title"
              [popoverMessage]="deleteConfirmation.message"
              placement="left"
              (confirm)="remove(row.uuid)"
            ></i>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
