<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="float-end">
            <i
              class="fas fa-rotate clickable fa-lg"
              ngbTooltip="Reload the list of {{resource_name}}s"
              (click)="list();"
            ></i>
            &nbsp;
            <i
              class="fas fa-download clickable fa-lg"
              ngbTooltip="Download the list of users as an excel file"
              (click)="download()"
            ></i>
          </div>

          <h1 class="card-title"><i class="fas fa-users"></i> Users list</h1>
        </div>

        <div class="card-body">
          <div class="table-responsive" #tableWrapper>
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control data-filter"
                    placeholder="Type to filter users"
                    (keyup)="updateFilter($event)"
                  />
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-secondary" (click)="create()">
                    <i class="fas fa-plus"></i> new {{resource_name}}
                  </button>
                </div>
              </div>
            </div>
            <ngx-spinner [fullScreen]="true"></ngx-spinner>
            <ngx-datatable
              class="bootstrap"
              [rows]="data"
              [columns]="columns"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="40"
              [footerHeight]="40"
              [limit]="paging.itemsPerPage"
              [rowHeight]="'auto'"
              (activate)="onDatatableActivate($event)"
            >
            </ngx-datatable>
          </div>
          <ng-template #dataRoles let-row="row" let-value="value" let-i="index">
            <span
              class="badge bg-info role-badge"
              *ngFor="let role of value | keyvalue: rolesViewComparator"
            >
              <span *ngIf='role.value.description != "disabled"'>
                {{role.value.description}}
              </span>
              <span *ngIf='role.value.description == "disabled"'>
                {{role.value.name}}
              </span>
            </span>
          </ng-template>

          <ng-template #dataGroup let-row="row" let-value="value" let-i="index">
            <span ngbTooltip="{{value.fullname}}" *ngIf="value">
              {{value.shortname}}
            </span>
          </ng-template>

          <ng-template #dataName let-row="row" let-value="value" let-i="index">
            {{row['name']}} {{row['surname']}}
          </ng-template>

          <ng-template #dataDate let-row="row" let-value="value" let-i="index">
            <span
              *ngIf="value"
              ngbTooltip="{{value | amFromUtc | date : 'dd MMM yyyy HH:mm:ss'}}"
            >
              {{value | amFromUtc | date : 'dd MMM yyyy'}}
            </span>
            <span *ngIf="!value">N/A</span>
          </ng-template>

          <ng-template
            #dataActive
            let-row="row"
            let-value="value"
            let-i="index"
          >
            <i
              class="fas fa-ban orange"
              *ngIf="!value"
              ngbTooltip="This user is not active yet"
            ></i>
            <i
              class="fas fa-check green"
              *ngIf="value && !row.expiration"
              ngbTooltip="This user is active"
            ></i>
            <i
              class="fas fa-hourglass-start orange"
              *ngIf="value && row.expiration && row.expiration && !row.expired"
              ngbTooltip="This user will expire on {{ row.expiration | amDateFormat: 'Do of MMMM YYYY'}} ({{ row.expiration | amTimeAgo}})"
            ></i>

            <i
              class="fas fa-hourglass-end red"
              *ngIf="value && row.expiration && row.expiration && row.expired"
              ngbTooltip="This user is expired since {{ row.expiration | amDateFormat: 'Do of MMMM YYYY'}} ({{ row.expiration | amTimeAgo}})"
            ></i>
          </ng-template>

          <ng-template #emptyHeader let-column="column"> &nbsp; </ng-template>

          <ng-template
            #controlsCell
            let-row="row"
            let-value="value"
            let-i="index"
          >
            <i
              class="fas fa-pen-to-square fa-lg clickable"
              container="body"
              (click)="update(row)"
            ></i>
            <i
              class="fas fa-trash fa-lg red clickable"
              (click)="delete(row.uuid)"
            ></i>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
