<div class="container-fluid">
  <div class="row p-5 justify-content-md-center">
    <div class="card">
      <div class="card-header bg-warning">
        <h1 class="text-center">404 - Page not found</h1>
      </div>

      <div class="card-body text-center">
        <div class="row">
          <div class="col-12">
            <h2 class="smaller">The page you requested could not be found!</h2>
            <br />
            <h4 class="smaller">
              Please report the error if you reached this page by following a
              link
            </h4>

            <br /><br />
          </div>
        </div>

        <div class="row">
          <div class="col-4 offset-1">
            <a
              class="btn btn-light text-dark btn-outline-secondary"
              (click)="goBack()"
              ><i class="fas fa-backward"></i> GO BACK</a
            >
          </div>

          <div class="col-4 offset-3">
            <a
              class="btn btn-light text-dark btn-outline-secondary"
              routerLink=""
              ><i class="fas fa-home"></i> GO HOME</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
