<div class='row'>
<div class='col-6 offset-3'>

<div class='card'>

    <div class='card-header bg-danger text-center'>
        <h4>Server not reachable due to maintenance operations</h4>
    </div>

    <div class='card-body text-center'>

    <h5>

    This server is temporary not reachable due to maintenance operations. We apologize for any inconvenience this may cause.

    <br><br>
     
    <a routerLink='/app/profile'>
        <i class='fas fa-sync-alt'></i>
        <br>
        Reload 
    </a>

    </h5>
</div>

</div>

</div>
</div>
