<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card">
        <ngx-spinner [fullScreen]="true"></ngx-spinner>

        <div class="card-header">
          <h4 class="float-left">{{registration_title}}</h4>
          <small class="float-right">
            Already have an account?
            <a href="#" routerLink="/app/login">Sign in</a>
          </small>
        </div>

        <div class="card-body" *ngIf="!allowRegistration">
          <i class="fas fa-exclamation-triangle"></i>
          Account registration is not allowed
        </div>

        <div class="card-body" *ngIf="showRegistrationForm">
          <div class="card" *ngIf="disclaimer">
            <div class="card-body text-justify" [innerHTML]="disclaimer"></div>
          </div>

          <form [formGroup]="form" (ngSubmit)="register()">
            <formly-form [form]="form" [fields]="fields" [model]="model">
            </formly-form>

            <button [disabled]="loading" class="btn btn-primary">
              Register
            </button>
            <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
          </form>
        </div>

        <div class="card-body" *ngIf="registration_message">
          {{registration_message}}
        </div>

        <div class="card-body" *ngIf="invalid_token">
          This activation token is not valid and your request can not be
          satisfied.
        </div>
      </div>
    </div>
  </div>
</div>
