<div class="container-fluid">
  <ngx-spinner [fullScreen]="false"></ngx-spinner>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
      <!-- 1 -->

      <div
        class="card"
        *ngIf="resetForm && !token && !invalid_token && !reset_message"
      >
        <div class="card-header">
          <h4>Reset your password</h4>
        </div>

        <div class="card-block">
          <form [formGroup]="step1_form" (ngSubmit)="resetRequest()">
            <formly-form
              [form]="step1_form"
              [fields]="step1_fields"
              [model]="model"
            >
            </formly-form>
            <button type="submit" class="btn btn-success">
              Submit request
            </button>
          </form>
        </div>
      </div>

      <!-- 2 -->
      <div class="card" *ngIf="reset_message">
        <div class="card-header">
          <h4>Reset your password</h4>
        </div>

        <div class="card-block">{{reset_message}}</div>
      </div>

      <!-- 3 -->

      <div class="card" *ngIf="invalid_token">
        <div class="card-header">
          <h4>Invalid request</h4>
        </div>

        <div class="card-block">{{invalid_token}}</div>
      </div>

      <!-- 4 -->
      <div class="card" *ngIf="token">
        <div class="card-header">
          <h4>Change your password</h4>
        </div>

        <div class="card-block">
          <form [formGroup]="step2_form" (ngSubmit)="changePassword()">
            <formly-form
              [form]="step2_form"
              [fields]="step2_fields"
              [model]="model"
            >
            </formly-form>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
