<div class="container-fluid">
  <ngx-spinner [fullScreen]="true"></ngx-spinner>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
      <!-- 1 -->

      <div
        class="card"
        *ngIf="resetForm && !token && !invalid_token && !reset_message"
      >
        <div class="card-header">
          <h1>Reset your password</h1>
        </div>

        <div class="card-body">
          <form [formGroup]="step1_form" (ngSubmit)="resetRequest()">
            <formly-form
              [form]="step1_form"
              [fields]="step1_fields"
              [model]="model"
            >
            </formly-form>
            <button type="submit" class="btn btn-success">
              Submit request
            </button>
          </form>
        </div>
      </div>

      <!-- 2 -->
      <div class="card" *ngIf="reset_message">
        <div class="card-header">
          <h1>Reset your password</h1>
        </div>

        <div class="card-body">{{reset_message}}</div>
      </div>

      <!-- 3 -->

      <div class="card" *ngIf="invalid_token">
        <div class="card-header">
          <h1>Invalid request</h1>
        </div>

        <div class="card-body">{{invalid_token}}</div>
      </div>

      <!-- 4 -->
      <div class="card" *ngIf="token">
        <div class="card-header">
          <h1>Change your password</h1>
        </div>

        <div class="card-body">
          <div class="card">
            <div class="card-body text-justify">
              Please enter your new password below. The new password must be at
              least {{ minPasswordLength }} characthers in length and must
              consist of at least one lower-case letter, one upper-case letter,
              one number and one special character. It cannot contain your name
              or email and you cannot re-use the current password.
            </div>
          </div>
          <br />

          <form [formGroup]="step2_form" (ngSubmit)="changePassword()">
            <formly-form
              [form]="step2_form"
              [fields]="step2_fields"
              [model]="model"
            >
            </formly-form>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
