
<div class='container-fluid'>
<div class="row justify-content-md-center" *ngIf="user">
<div class='col-xs-8'>

<!-- PANEL HEADING START -->
<div class='card'>
<div class='card-header'>
    <h4><i class='material-icons'>face</i> User profile</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='card-block'>
<div class="table-responsive">
	<table class='table table-striped'>

		<tr *ngFor="let value of user | iterate: 'uuid'">
		<th>{{value.key}}</th>

		<td *ngIf="value.key != 'roles'">{{value.value}}</td>

        <td *ngIf="value.key == 'roles'">
            <span *ngFor="let role of value.value | iterate">
                {{role.value}}
            </span>
        </td>

		</tr>

        <tr>
        <th>Password</th>
        <td>
            <a routerLink='changepassword'>
                <i>Change your password</i>
            </a>
        </td>
        </tr>

        <tr>
        <th>Open Sessions</th>
        <td>
            <a routerLink='sessions'>
                <i>View list of your open sessions</i>
            </a>
        </td>
        </tr>

    </table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->

</div>
<!-- PANEL END -->

</div>
</div>
</div>