<div class="row">
<div class='col-xs-8 col-xs-offset-2'>

<div class='panel panel-default'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
    <h4 class='panel-title'>
        Change your password
    </h4>
</div>
<!-- PANEL HEADING END -->
    <form name='changePassword' #f="ngForm" (ngSubmit)="f.form.valid && changePassword(f)" novalidate>
    <!-- ng-submit="changePassword.$valid && ctrl.changePassword(profile.uuid);"> -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>

    <div class="form-group" *ngIf='user["2fa"] == "TOTP"'>
        <i class="material-icons prefix">security</i>
        <label for="icon_prefix">Verification code</label>
        <input class="form-control" type='number' required minlength="6" autofocus id="icon_prefix" ng-model="ctrl.totp_code">
    </div>

    <div class="form-group" *ngIf='!user["2fa"]'>
        <i class="material-icons prefix">vpn_key</i>
        <label for="icon_prefix">Current password</label>
        <input class="form-control" type='password' ng-model="ctrl.currentPwd">
    </div>

    <div class="form-group">
        <i class="material-icons prefix">vpn_key</i>
        <label for="icon_prefix">New password</label>
        <input class="form-control" type='password' ng-model="ctrl.newPwd" required minlength="8">
    </div>

    <div class="form-group">
        <i class="material-icons prefix">vpn_key</i>
        <label for="icon_prefix">Confirm password</label>
        <input class="form-control" type='password' ng-model="ctrl.confirmPwd" required minlength="8">
    </div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">

<div class='text-left' style='float:left;'>
    <a class='btn btn-danger' type="submit" href routerLink="..">Cancel</a>
</div>

<div class='text-right'>
    <button class='btn btn-success' type="submit">Submit</button>
</div>
</div>
<!-- PANEL FOOTER END -->

</form>

</div>
<!-- PANEL END -->

</div>
</div>