<navbar></navbar>

<div *ngIf="!api.is_online() && isBrowser">
  <div class="container-fluid">
    <div class="row p-5 text-center">
      <!-- Normal warning browser side when APIs are offline -->
      <div class="col-6 offset-3">
        <div class="card">
          <div class="card-header bg-warning">
            <h6>Server temporarily unreachable</h6>
          </div>

          <div class="card-body">
            <p>
              This server is temporarily not reachable.<br />
              We apologize for any inconvenience this may cause.

              <br /><br />

              <a [routerLink]="" (click)="refresh()">
                <i class="fas fa-sync-alt"></i>
                <br />
                Reload
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet *ngIf="api.is_online() || isServer"></router-outlet>

<!-- Used to create a separation beetween router-outlet and footer -->
<div class="spacer"></div>

<footer class="footer mt-auto" *ngIf="enableFooter">
  <customfooter></customfooter>
</footer>

<cookie-law #cookieLaw>
  <span
    *ngIf="cookieLawText; else defaultText"
    [innerHTML]="cookieLawText"
  ></span>
  <ng-template #defaultText>
    We uses cookies to ensure you get the best experience on our website. If you
    continue to use this site you accept to receive cookies, otherwise you can
    leave this page.
  </ng-template>

  &nbsp;

  <button class="btn btn-secondary btn-sm" (click)="dismissCookieLaw()">
    <ng-container *ngIf="cookieLawButton; else defaultButton">
      {{ cookieLawButton }}
    </ng-container>
    <ng-template #defaultButton> Ok, got it </ng-template>
  </button>
</cookie-law>
