
<div class='container-fluid'>
<div class="row justify-content-md-center" *ngIf="user">
<div class='col-xs-8 col-xs-offset-2'>

<!-- PANEL HEADING START -->
<div class='card'>
<div class='card-header'>
    <i class='material-icons'>face</i> User profile
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='card-block'>
<div class="table-responsive">
	<table class='table table-striped'>

    <!-- JUST A TEST -->
    <form [formGroup]="form" (ngSubmit)="submit(model)">
        <formly-form [form]="form" [fields]="fields" [model]="model">
            <button type="submit" class="btc btc-default">Submit</button>
        </formly-form>
    </form>


		<tr *ngFor="let value of user | iterate: 'uuid'">
		<th>{{value.key}}</th>

		<td *ngIf="value.key != 'roles'">{{value.value}}</td>

        <td *ngIf="value.key == 'roles'">
            <span *ngFor="let role of value.value | iterate">
                {{role.value}}
            </span>
        </td>

		</tr>

        <tr>
        <th>Password</th>
        <td>
            <a routerLink='changepassword'>
                <i>Change your password</i>
            </a>
        </td>
        </tr>

        <tr>
        <th>Open Sessions</th>
        <td>
            <a routerLink='sessions'>
                <i>View list of your open sessions</i>
            </a>
        </td>
        </tr>

    </table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->

</div>
<!-- PANEL END -->

</div>