
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<h3>
				<!-- <a ui-sref='public.welcome'>
					{{ myproject }}
				</a> -->
				<a href="https://imediacities.eu" target="_blank">
					<img ng-src="static/assets/images/IMC-Logo-transp.png">
				</a>
			</h3>
		</div>

		<ul class="nav navbar-nav navbar-left">
	        <li><a routerLink='/new/test' routerLinkActive="active">*Admin*</a></li>
	        <li><a routerLink='/new/profile' routerLinkActive="active">*Profile*</a></li>


		    <li *ngIf="user && user.roles['Archive']">
			    <a routerLink="/app/upload">
		          Upload
		        </a>
		    </li>

		    <li *ngIf="user">
		        <a href ui-sref="logged.new-search({q: null})" ui-sref-opts="{reload: true}">
		          Search
		        </a>
		    </li>

		    <li *ngIf="user.isAdmin || user.isGroupAdmin">
		        <a routerLink="/app/admin/users">
		          Users
		        </a>
		    </li>

		    <li *ngIf="user.isAdmin">
			    <a routerLink="/app/admin/groups">
		          Groups
		        </a>
		    </li>

		    <li *ngIf="user.isAdmin">
		        <a routerLink="/app/admin/archive">
		          Archive 
		        </a>
		    </li>

		</ul>


		<ul class="nav navbar-nav navbar-right">

	      <li *ngIf="user">
	      	<a routerLink='/app/profile' routerLinkActive="active">
	      		<i uib-tooltip="Profile" tooltip-placement='bottom' class="material-icons">people</i>
	      	</a>
	      </li>

	      <li *ngIf="user">
	      	<a routerLink='/new/login' routerLinkActive="active">
	      		<i class='material-icons' uib-tooltip='Logout' tooltip-placement='bottom'>exit_to_app</i>
	      	</a>
      	  </li>
	      <li *ngIf="!user"><a routerLink='/new/login' routerLinkActive="active">Login</a></li>

		</ul>

		<!-- {{user.email}} -->
	</div>
</nav>

