<div class="container-fluid">
  <div class="row justify-content-md-center">
    <!-- A splash screen to be used during SSR loadings -->
    <div class="col-12 p-5 text-center" *ngIf="ssr.isServer">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-6" *ngIf="ssr.isBrowser">
      <div class="card" *ngIf="accountNotActive">
        <div class="card-header bg-warning">
          <h1>This account is not active</h1>
        </div>

        <div class="card-body">
          Didn't receive an activation link?
          <a [routerLink]="" (click)="ask_activation_link()"
            >Click here to send again</a
          >
        </div>
      </div>

      <br /><br />

      <div class="card" *ngIf="qr_code">
        <div class="card-header">
          <h1>Configure Two-Factor with Google Authenticator</h1>
        </div>

        <div class="card-body text-center">
          Due to enhanced security policies, two-step verification is required
          to log in. You will need to first download the Google Authenticator
          mobile app or any analogous app on your smartphone, then open the app
          and scan the QR code below to configure your access.<br />
          After you have scanned the QR code you can open the app at any time in
          the future to obtain your verification code. Please note that the
          verification code is always changing, so it will be different each
          time you log in.<br />
          <img src="data:image/png;base64,{{qr_code}}" />
        </div>
      </div>

      <div class="card" *ngIf="!accountNotActive">
        <div class="card-header" *ngIf="!warningCard">
          <h1>{{panelTitle}}</h1>
        </div>
        <div class="card-header bg-warning" *ngIf="warningCard">
          <h1>{{panelTitle}}</h1>
        </div>

        <div class="card-body">
          <div class="card" *ngIf="askNewPassword">
            <div class="card-body text-justify">
              Please enter your new password below. The new password must be at
              least {{ minPasswordLength }} characthers in length and must
              consist of at least one lower-case letter, one upper-case letter,
              one number and one special character. It cannot contain your name
              or email and you cannot re-use the current password.
            </div>
          </div>
          <br />

          <form [formGroup]="form" (ngSubmit)="login()">
            <formly-form [form]="form" [fields]="fields" [model]="model">
            </formly-form>

            <button
              [disabled]="loading"
              class="btn btn-primary"
              *ngIf="!warningCard"
            >
              {{buttonText}}
            </button>
            <button
              [disabled]="loading"
              class="btn btn-warning"
              *ngIf="warningCard"
            >
              {{buttonText}}
            </button>
            <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
          </form>

          <div class="text-start" *ngIf="allowPasswordReset">
            <br />
            Forgot your password?
            <a href="#" routerLink="/public/reset">Reset your password</a>
          </div>

          <div class="text-start" *ngIf="allowRegistration">
            <br />
            You don't have an account yet?
            <a href="#" routerLink="/public/register">Register here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #privacy_acceptance let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h1 class="modal-title">Terms of use</h1>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <div ngbAccordion [closeOthers]="true">
      <div
        ngbAccordionItem
        [collapsed]="false"
        *ngFor="let group of terms_of_use"
      >
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{group['label']}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div [innerHTML]="group['text']"></div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <h1>Do you accept our Terms of Use?</h1>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modalRef.close('Save click')"
    >
      YES
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Not accepted')"
    >
      NO
    </button>
  </div>
</ng-template>
