<div class="input-group">
	<input 
		readonly
		style='background-color:#FFF;'
		class="form-control"
		[formControl]="formControl"
		[formlyAttributes]="field"
		ngbDatepicker
		[minDate]="to.min || {year: 1900, month: 1, day: 1}"
		[maxDate]="to.max || {year: 2050, month: 12, day: 31}"
		#d="ngbDatepicker"
		(click)="d.toggle()"
	>
	<div class="input-group-append">
		<button 
			class="btn btn-outline-secondary"
			(click)="d.toggle()"
			type="button"
		>
		    <i class="fas fa-calendar"></i>
	    </button>
	</div>
</div>
