
html,
body {
    height: 100%;
    width: 100%;
}

.container-fluid {
  padding-top: 1rem;
}

.navbar .sticky-top {
  /* margin-bottom: 0px */
}

.footer {
  background-color: #f8f8f8 !important;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  line-height: 3em;
  padding-right: 4em;
  padding-left: 4em;
}

.initial_loading {
  background-color: #CEF;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from { left: -200px; width: 30%; }
    50% { width: 30%; }
    70% { width: 70%; }
    80% { left: 50%; }
    95% {left: 120%; }
    to {left: 100%; }
}

/* Bootstrap v4 */
.card-block {
  padding: 20px;
}

.datatable-header {
  font-weight: bold;
  font-size: 1.1em;
  /*
  border-bottom: 1px solid #BBB;
  padding-bottom:30px;
  margin-bottom:20px;
  */
}

.ngx-datatable.bootstrap .datatable-footer {
  background-color: rgb(132, 132, 132);
  color: rgb(255, 255, 255);
  font-weight: bold;
  overflow: initial;  /* overrides an overflow: auto introduced in latest versions */
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.horizontal-center {
	width:1000px;
	text-align: center;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

/* FORMLY ERRORS */

.error-messages {
  position: relative;
}

.error-messages, .message {
  opacity: 1;
  transition: .3s linear all;
}

.message {
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 2px;
  text-align: right;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px;
}


.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.fa-red {
  color: red;
}

.fa-green {
  color: green;
}

.fa-xlarge {
  font-size: 2em !important;
}

.fa-large {
  font-size: 1.5em !important;
}

.fa-medium {
  font-size: 1em !important;
}

.fa-small {
  font-size: 0.5em !important;
}

.fa-xsmall {
  font-size: 0.33em !important;
}