html,
body {
  height: 100%;
  width: 100%;
}

.container-fluid {
  padding-top: 1rem;
}

/*
  Used to separate container and footer
  margin-bottom or padding-bottom does not work well on container fluid
  when a bg image is set.
  Margin-top can't be set to footer due to mt-auto
  (required to stick the footer on the bottom)
  => added an additional hidden element to separate the two elements
*/
.spacer {
  min-height: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navbar {
  background-color: #f8f8f8 !important;
  /* margin-bottom: 0px */
}

.footer {
  background-color: #f8f8f8 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  line-height: 3em;
  padding-right: 4em;
  padding-left: 4em;
}

/* used in Profile and AdminUsers */
span.role-badge {
  margin-right: 3px;
}

.initial_loading {
  background-color: #cef;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

div.initial_loading > h2 > div.spinner-grow {
  width: 3rem;
  height: 3rem;
}

/* Bootstrap v4 */

.btn.btn-outline-secondary.active {
  color: #f8f9fa !important;
}

.btn.no-rounded {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.card-block {
  padding: 20px;
}

.datatable-header {
  font-weight: bold;
  font-size: 1.1em;
}

input.data-filter {
  padding: 8px;
  margin-bottom: 15px;
}

input.datepicker {
  background-color: #fff !important;
}
.ngx-datatable.bootstrap .datatable-footer {
  background-color: rgb(132, 132, 132);
  color: rgb(255, 255, 255);
  font-weight: bold;
  overflow: initial; /* overrides an overflow: auto introduced in latest versions */
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers that do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.horizontal-center {
  width: 1000px;
  text-align: center;
}

.table-borderless td,
.table-borderless th {
  border: none !important;
}

/* FORMLY */

formly-field-multicheckbox > div {
  overflow-y: auto;
  max-height: 12em;
  border: 1px solid #ced4da;
  padding: 0.3em;
  border-radius: 0.3em;
}

/* FORMLY ERRORS */

.error-messages {
  position: relative;
}

.error-messages,
.message {
  opacity: 1;
  transition: 0.3s linear all;
}

.message {
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 2px;
  text-align: right;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px;
}

/* ICONS */

.clickable {
  cursor: pointer;
}
.black {
  color: #333 !important;
}
.gray {
  color: #8c8c8c !important;
}
.lightgray {
  color: #bbb !important;
}
.white {
  color: #fff !important;
}
.red {
  color: #dd5a43 !important;
}
.orange {
  color: #ff892a !important;
}
.lightorange {
  color: #fcac6f !important;
}
.yellow {
  color: #ffd700 !important;
}
.green {
  color: #69aa46 !important;
}
.lightgreen {
  color: #b0d877 !important;
}
.blue {
  color: #478fca !important;
}
.lightblue {
  color: #93cbf9 !important;
}
.brown {
  color: #603913 !important;
}
.lightbrown {
  color: #cbb69d !important;
}
