<div class='container-fluid'>
<div class="row justify-content-md-center">
<div class='col-12 col-md-8 col-lg-6'>

<div class='card'>
<div class='card-header'>
    <h4>Change your password</h4>
</div>
<!-- PANEL HEADING END -->
    <form name='changePassword' #f="ngForm" (ngSubmit)="changePassword(f)" novalidate>
    <!-- ng-submit="changePassword.$valid && changePassword(profile.uuid);"> -->

<!-- PANEL BODY + TABLE START -->
<div class='card-block'>

    <div class="row" *ngIf='user["2fa"] == "TOTP"'>

        <div class='col-4'>
            <label for="totp_code">
                Verification code
            </label>
        </div>

        <div class='col-8'>
            <input 
                class="form-control" 
                type='number'
                id="totp_code" name="totp_code"
                required ngModel autofocus
                minlength="6"
            >
        </div>
    </div>

    <div class="row" *ngIf='!user["2fa"]'>

        <div class='col-4'>
            <label for="currentPwd">
                Current password
            </label>

        </div>

        <div class='col-8'>
            <input 
                class="form-control"
                type='password'
                id="currentPwd" name="currentPwd" 
                required ngModel autofocus
            >
        </div>
    </div>

    <div class="row">
        
        <div class='col-4'>
            <label for="newPwd">
                New password
            </label>
        </div>

        <div class='col-8'>
            <input 
                class="form-control"
                type='password'
                id="newPwd" name="newPwd" 
                required ngModel minlength="8"
            >
        </div>
    </div>

    <div class="row">
        
        <div class='col-4'>
            <label for="confirmPwd">
                Confirm password
            </label>
        </div>

        <div class='col-8'>
            <input 
                class="form-control" 
                type='password' 
                id="confirmPwd" name="confirmPwd" 
                required ngModel minlength="8"
            >
        </div>
    </div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="card-footer">

<div class='text-left' style='float:left;'>
    <button class='btn btn-warning' type="submit" routerLink="..">Cancel</button>
</div>

<div class='text-right'>
    <button class='btn btn-success' type="submit">Submit</button>
</div>
</div>
<!-- PANEL FOOTER END -->

</form>

</div>
<!-- PANEL END -->

</div>
</div>
</div>