<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h1>Change your password</h1>
        </div>

        <div class="card-body">
          <div class="card">
            <div class="card-body text-justify">
              Please enter your new password below. The new password must be at
              least {{ minPasswordLength }} characthers in length and must
              consist of at least one lower-case letter, one upper-case letter,
              one number and one special character. It cannot contain your name
              or email and you cannot re-use the current password.
            </div>
          </div>
          <br />
          <form [formGroup]="form" (ngSubmit)="submit()">
            <formly-form [form]="form" [fields]="fields" [model]="model">
            </formly-form>
            <div class="text-left float-left">
              <button class="btn btn-warning" type="reset" routerLink="..">
                Cancel
              </button>
            </div>

            <div class="text-right">
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
