<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Change your password</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <formly-form [form]="form" [fields]="fields" [model]="model">
            </formly-form>
            <div class="text-left float-left">
              <button class="btn btn-warning" type="reset" routerLink="..">
                Cancel
              </button>
            </div>

            <div class="text-right">
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
