
<div class='container-fluid'>
<div class="row justify-content-md-center" *ngIf="user">
<div class='col-12 col-lg-8'>

<div class='card'>
<div class='card-header'>
    <h4><i class='fa fa-user-circle-o'></i> User profile</h4>
</div>

<div class='card-block'>
<div class="table-responsive">
	<table class='table'>

        <tr style='border-top: 0px'>
            <th>Name</th>
            <td>{{user.name}} {{user.surname}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>

        <tr>
            <th>Roles</th>
            <td>
                <span
                    *ngFor="let role of user.roles | iterate"
                    class='badge badge-info' style='margin-right:3px;'>
                    {{role.value}}
                </span>
            </td>
        </tr>

		<tr *ngFor="let value of user | iterate: 'uuid'">

    		<th *ngIf="['name', 'surname', 'email', 'password', 'roles'].indexOf(value.key) < 0" [ngSwitch]="value.key">

                <span *ngSwitchCase="'group'">
                    Group
                </span>

                <span *ngSwitchCase="'isAdmin'">
                    Administrator
                </span>

                <span *ngSwitchCase="'isLocalAdmin'">
                    Local Administrator
                </span>

                <span *ngSwitchCase="'privacy_accepted'">
                    Privacy Accepted
                </span>

                <span *ngSwitchCase="'status'">
                    Account status
                </span>

                <span *ngSwitchDefault>{{value.key}}</span>

            </th>

    		<td *ngIf="['name', 'surname', 'email', 'password', 'roles'].indexOf(value.key) < 0" [ngSwitch]="value.key">

                <span 
                    *ngSwitchCase="'group'"
                    [innerHTML]="value.value['fullname']">
                </span>

                <span 
                    *ngSwitchCase="'isAdmin'"
                    [innerHTML]="value.value | boolean_flag">
                </span>

                <span 
                    *ngSwitchCase="'isLocalAdmin'"
                    [innerHTML]="value.value | boolean_flag">
                </span>

                <span 
                    *ngSwitchCase="'privacy_accepted'"
                    [innerHTML]="value.value | boolean_flag">
                </span>

                <span *ngSwitchDefault>{{value.value}}</span>
            </td>

		</tr>

        <tr>
        <th>Password</th>
        <td>
            <a routerLink='changepassword'>
                <i>Change your password</i>
            </a>
        </td>
        </tr>

        <tr>
        <th>Open Sessions</th>
        <td>
            <a routerLink='sessions'>
                <i>View list of your open sessions</i>
            </a>
        </td>
        </tr>

    </table>
</div>
</div>

</div>

</div>
</div>
</div>