<div class="container-fluid">
  <div class="row justify-content-md-center" *ngIf="user">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h4>
            <i class="fas fa-user-circle-o"></i> User profile
            <span class="float-right">
              <i
                class="fas fa-edit"
                ngbTooltip="Edit your profile"
                (click)="edit_profile();"
              ></i>
            </span>
          </h4>
        </div>

        <div class="card-block">
          <div class="table-responsive">
            <ngx-spinner [fullScreen]="false"></ngx-spinner>
            <table class="table">
              <tr style="border-top: 0px;">
                <th>Name</th>
                <td>{{user.name}} {{user.surname}}</td>
              </tr>

              <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
              </tr>

              <tr *ngIf="user.group">
                <th>Group</th>
                <td>{{user.group.fullname}}</td>
              </tr>

              <tr>
                <th>Roles</th>
                <td>
                  <span
                    *ngFor="let role of user.roles | keyvalue"
                    class="badge badge-info"
                    style="margin-right: 3px;"
                  >
                    <span *ngIf='role.value != "disabled"'>
                      {{role.value}}
                    </span>
                    <span *ngIf='role.value == "disabled"'>
                      {{role.key}}
                    </span>
                  </span>
                </td>
              </tr>

              <tr>
                <th>Privacy Accepted</th>
                <td [innerHTML]="user.privacy_accepted | boolean_flag"></td>
              </tr>

              <!-- here | keyvalue does not work -->
              <ng-container *ngFor="let row of user | iterate">
                <tr my-profile-row [row]="row"></tr>
              </ng-container>

              <tr>
                <th>Password</th>
                <td>
                  <a routerLink="changepassword">
                    <i>Change your password</i>
                  </a>
                </td>
              </tr>

              <tr>
                <th>Open Sessions</th>
                <td>
                  <a routerLink="sessions">
                    <i>View list of your open sessions</i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
