<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="float-right">
            <span (click)="download()">
              <i class="fas fa-download fa-lg"></i>
            </span>
          </div>

          <h4><i class="fas fa-users"></i> List of your open sessions</h4>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control data-filter"
                    placeholder="Type to filter sessions"
                    (keyup)="updateFilter($event)"
                  />
                </div>
              </div>
            </div>

            <div class="table-wrapper" #tableWrapper>
              <ngx-spinner [fullScreen]="false"></ngx-spinner>
              <ngx-datatable
                class="bootstrap"
                [rows]="data"
                [columns]="columns"
                [columnMode]="ColumnMode.flex"
                [headerHeight]="40"
                [footerHeight]="40"
                [limit]="paging.itemsPerPage"
                [rowHeight]="'auto'"
                (activate)="onDatatableActivate($event)"
              >
              </ngx-datatable>
            </div>
          </div>

          <ng-template #dataDate let-row="row" let-value="value" let-i="index">
            <span ngbTooltip="{{value | date : 'yyyy MMM dd HH:mm:ss'}}">
              {{value | amTimeAgo:false}}
            </span>
          </ng-template>

          <ng-template
            #dataRevoke
            let-row="row"
            let-value="value"
            let-i="index"
          >
            <span *ngIf="currentToken != row['token']; else activeCurrent">
              <i
                class="fas fa-trash fa-lg red clickable"
                (click)="delete(value, 'Are you really sure you want to close this session?')"
              ></i>
            </span>
            <ng-template #activeCurrent>
              <td>-</td>
            </ng-template>
          </ng-template>

          <ng-template #dataToken let-row="row" let-value="value" let-i="index">
            <i
              class="fas fa-clipboard fa-lg"
              ngxClipboard
              [cbContent]="value"
              (cbOnSuccess)="copied($event)"
              ngbTooltip="Copy token to clipboard"
            ></i>
          </ng-template>
        </div>

        <div class="card-footer text-muted">
          <div class="text-left float-right">
            <button class="btn btn-secondary" type="submit" routerLink="..">
              <i class="fas fa-backward"></i> Back to profile
            </button>
          </div>
        </div>
      </div>
      <!-- CARD END -->
    </div>
  </div>
</div>
