
<div class='container-fluid'>
<div class="row justify-content-md-center">
<div class='col-12'>

<div class='card'>
<div class='card-header'>
    <h4>List of your open sessions</h4>
</div>
<!-- PANEL HEADING END -->
<!-- PANEL BODY + TABLE START -->
<div class='card-block' *ngIf='tokens'>
<div class="table-responsive">
    <table class='table table-hover table-condensed'>

        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>host</th>
            <th>Emitted</th>
            <th>Last access</th>
            <th>Expiration</th>
            <th>Revoke</th>
            <th>Token</th>
        </tr>
        <tr *ngFor="let values of tokens | iterate">

        <td>{{values.value.id}}</td>
        <td>{{values.value.IP}}</td>

        <td>{{values.value.hostname}}</td>
        <td>
            <span 
                ngbTooltip="{{1000*values.value.emitted | date : 'yyyy MMM dd HH:mm:ss'}}"
                >
                {{values.value.emitted | amFromUnix | amTimeAgo: true }}
            </span>
        </td>

        <td>
            <span 
                ngbTooltip="{{1000*values.value.last_access | date : 'yyyy MMM dd HH:mm:ss'}}"
                >
                {{values.value.last_access | amFromUnix | amTimeAgo: true }}
            </span>
        </td>

        <td>
            <span 
                ngbTooltip="{{1000*values.value.expiration | date : 'yyyy MMM dd HH:mm:ss'}}"
                >
                {{values.value.expiration | amFromUnix | amTimeAgo: true }}
            </span>
        </td>

        <td *ngIf="currentToken != values.value.token; else activeCurrent">
            <i class="fa fa-trash" style='color:red;'
                mwlConfirmationPopover
                [popoverTitle]="confirmationTitle"
                [popoverMessage]="confirmationMessage"
                placement="bottom"
                (confirm)="revokeToken(values.value.id)"
                (cancel)="cancelRequest()"></i>

        </td>
        <ng-template #activeCurrent>
        <td>-</td>
        </ng-template>

        <td style='max-width:300px;font-size: 6px; word-break: break-all;'>
            {{values.value.token}}
        </td>

        </tr>
    </table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->

</div>
<!-- CARD END -->

</div>
</div>
</div>