<div 
	ng-if="ctrl.loading" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<div ng-controller='QueueController as ctrl'>

<div class='panel panel-default' ng-if='!datactrl.loading'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>queue</i> Celery queue
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>
<div class="table-responsive">
	<table 
		ng-show="ctrl.queue && ctrl.queue.length"
		class='table table-hover table-condensed' 
		ts-filter-fields="task_id,task,args,status"
		ts-wrapper>

		<thead>
	        <tr>
	        	<th ts-criteria='shortname'>ID</th>
	        	<th ts-criteria='fullname'>Task</th>
	        	<th ts-criteria='fullname'>Status</th>
	        	<th ts-criteria='fullname'>ETA</th>
	        	<th ts-criteria='fullname'>Priority</th>
	        	<th ts-criteria='fullname'>Worker</th>
	        	<th ts-criteria='fullname'>Pause</th>
	        	<th ts-criteria='fullname'>Kill</th>
	        </tr>
	    </thead>

		<tbody>
			<tr ng-repeat="data in ctrl.queue" ts-repeat>

					<td>{{data.task_id}}</td>

					<td>
						<span uib-tooltip='{{data.args}}'>
							{{data.task}}
						</span>
					</td>

					<td>{{data.status}}</td>

					<td>
			      		<span uib-tooltip="{{data.ETA | date:'dd/MM/yyyy HH:mm:ss'}}">
							{{data.ETA | moment: 'fromNow'}}
			      		</span>
		      		</td>

					<td>{{data.priority}}</td>

					<td>{{data.worker}}</td>

 					<td ng-if='data.status != "REVOKED"' 
 						ng-click='ctrl.pauseTask(data.task_id)'>
						<i class='material-icons'
						   uib-tooltip='Pause this task'
						>pause</i>
					</td>

					<td ng-if='data.status == "REVOKED"'>
						<i class='material-icons palette-Grey-500 text'>pause</i>
					</td>

					<td ng-if='data.status != "REVOKED"' 
					    ng-click='ctrl.terminateTask(data.task_id)'>
						<i class='material-icons palette-Red-500 text' 
						   uib-tooltip='Terminate this task'
						>stop</i>
					</td>
					<td ng-if='data.status == "REVOKED"'>
						<i class='material-icons palette-Grey-500 text'>stop</i>
					</td>

			</tr>
		</tbody>
		</table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<!-- 
<div class='text-right'>
	<button class="btn btn-success" ng-click="ctrl.addNewInstitute()">
		Add new institute
	</button>
</div>
 -->
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->

</div>
