	<uib-progressbar 
		ng-if='file.paused && !file.isComplete()' 
		animate="true" 
		max="1" 
		value="file.progress()" 
		type="warning"
	>
		<label style='color:#444;'>paused</label>
	</uib-progressbar>

	<uib-progressbar 
		ng-if='file.isUploading()'
		animate="true"
		max="1"
		value="file.progress()"
		type="info"
	>
		<label style='color:#444;'>{{file.progress() | percentage:2}}</label>
	</uib-progressbar>

	<uib-progressbar 
		ng-if='file.isComplete()' 
		animate="true" 
		max="1" 
		value="file.progress()" 
		type="success"
	>
		<b>completed</b>
	</uib-progressbar>